include _partial/helpers.pug

if page.title
  - var current_title = page.title
else
  - var current_title = config.title

if config.feed
  case config.feed.type
    when 'rss2'
      - var feed_type='application/rss+xml'
    when 'atom'
    default
      - var feed_type='application/atom+xml'

doctype html
html(lang=config.language)

  include _partial/head.pug

  body: .body_container
    #header
      .site-name
        h1.hidden= current_title
        a#logo(href=url_for('.'))= config.title
        p.description= config.subtitle
      #nav-menu
        - for (var i in theme.menu)
          +a_with_current(theme.menu[i].directory, __(theme.menu[i].page), theme.menu[i].icon)
        button#dark-mode-toggle(type='button', aria-label='Toggle dark mode', title='Toggle dark mode')
          svg.icon-sun(xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewBox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            circle(cx='12', cy='12', r='5')
            line(x1='12', y1='1', x2='12', y2='3')
            line(x1='12', y1='21', x2='12', y2='23')
            line(x1='4.22', y1='4.22', x2='5.64', y2='5.64')
            line(x1='18.36', y1='18.36', x2='19.78', y2='19.78')
            line(x1='1', y1='12', x2='3', y2='12')
            line(x1='21', y1='12', x2='23', y2='12')
            line(x1='4.22', y1='19.78', x2='5.64', y2='18.36')
            line(x1='18.36', y1='5.64', x2='19.78', y2='4.22')
          svg.icon-moon(xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewBox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            path(d='M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z')

    #layout.pure-g
      .pure-u-1.pure-u-md-4-4: .content_container
        block content
      .pure-u-1.pure-u-md-4-4
        != partial('_partial/footer.pug')

    include _partial/totop.pug
    include _partial/after_footer.pug
